/* media queries */

@media screen and (max-width:991px) {
    h3 {
        font-size: 1rem;
    }

    .nav-toggle {
        display: block;
        margin-right: 30px;
    }

    .nav-links {
        display: none;
    }

    .examples-card {
        width: calc(50% - 10px);
        min-height: 180px;
    }

    .examples-area {
        gap: 20px;
    }

    .footer-section {
        padding-block: 40px;
    }
}

@media screen and (max-width:760px) {

    .primary-button {
        width: 88%;
    }

    .header-section {
        flex-direction: column;
    }

    .left {
        max-width: 100%;
        text-align: center;
    }

    .features-card {
        min-width: calc(50% - 10px);
    }

    .big-feature-container {
        flex-direction: column;
        gap: 15px;
    }

    .big-feature-container-2 {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .feature-img img {
        width: 65vw;
    }

    .examples-header {
        padding-top: 15px;
        text-align: center;
    }


    .sub-footer {
        padding-block: 20px;
    }

    .sub-footer-conatiner {
        flex-direction: column;
        align-items: center;
    }

    .links-column {
        align-items: center;
        margin-block: 10px;
        gap: 5px;
    }

    .footer-section {
        text-align: center;
        gap: 25px;
    }
}